import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import matplotlib.dates as mdates
from windrose import WindroseAxes
from matplotlib.patches import Patch
from datetime import datetime
import calendar
import matplotlib.image as mpimg